.header {
  background: var(--white);
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--lightGrey);
}
.topHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background: var(--white);
  box-shadow: var(--shadow);
  z-index: 1;
  max-width: 1120px;
}
.logo {
  display: flex;
}
