.login {
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login form {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 16px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: var(--shadow);
}
.inputField {
  margin-bottom: 16px !important;
}
.loginBtn {
  padding: 16px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  background: var(--red);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.loading {
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0.5) 25%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.5) 0,
    hsla(0, 0%, 100%, 0.5) 75%,
    transparent 0,
    transparent
  );
  background-size: 40px 40px;
  width: 100%;
  opacity: 1;
  pointer-events: none;
  animation-name: progress-bar-stripes;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.loginBtn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (max-width: 640px) {
  .login form {
    width: 100%;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}
