.searcBarSection {
  position: absolute;
  top: 100%;
  width: 100%;
  background: var(--white);
  border-top: 1px solid var(--borderColor);
  box-shadow: var(--shadow);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.searcBarSection input {
  width: 85%;
  border: 0;
  padding: 8px;
  height: 100%;
}
.searcBarSection button {
  width: 15%;
  height: 100%;
  border: 0;
  text-transform: capitalize;
  background: var(--lightBGColor);
  border-left: 1px solid var(--borderColor);
}
.searcBarSection button svg {
  width: 18px;
}
.error {
  border: 1px solid var(--red) !important;
}
.error::placeholder {
  color: var(--red);
  opacity: 1;
}

.error::-ms-input-placeholder {
  color: var(--red);
}
