.searcBarSection {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.searcBarSection input {
  width: 85%;
  border: 0;
  padding: 8px;
  height: 100%;
}
.searcBarSection button {
  width: 15%;
  height: 100%;
  border: 0;
  text-transform: capitalize;
  background: #f5f5f5;
  border-left: 1px solid #ccc;
}
.searcBarSection button svg {
  width: 18px;
}
