.mainMenu {
  width: 80vw;
  height: 100vh;
}
.navUserSection {
  padding: 18px;
  height: 87px;
  background: #af0303;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}

.userIcon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.userName {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  padding: 0 10px;
}
.button {
  background: #fff;
  text-transform: uppercase;
  border: 0;
  padding: 5px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
