.mainMenu {
  width: 80vw;
  height: 100vh;
  max-width: 360px;
}
.navUserSection {
  padding: 18px;
  height: 87px;
  background: var(--red);
  display: flex;
  align-items: center;
  color: var(--white);
  justify-content: space-between;
}

.userIcon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.userName {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  padding: 0 10px;
}
.button {
  background: var(--white);
  text-transform: uppercase;
  border: 0;
  padding: 5px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.loginBtn {
  background: var(--white);
  text-transform: uppercase;
  border: 0;
  padding: 5px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--black);
  line-height: 1;
  height: 30px;
  min-width: 70px;
}
