.langBarSection {
  position: absolute;
  top: 100%;
  width: 100%;
  background: var(--white);
  border-top: 1px solid var(--borderColor);
  box-shadow: var(--shadow);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
}
.langBarSection ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
}
.langBarSection ul li {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--borderColor);
}
