.mainHeading {
}
.tumbNail {
  position: relative;
  width: 100%;
  padding-top: 75%;
}
.tumbNail img {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #ccc;
}
.newsContent {
  padding: 8px;
  width: 100%;
}
.newsContent h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.publish{
    font-size: 12px;
    margin-bottom: 10px;
}
