.tumbNail {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
}
.tumbNailBlur {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tumbNail img {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.newsContent {
  padding: 16px;
  width: 100%;
}
.newsContent h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.publish {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.description,
.description p {
  display: block;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 20px;
}
.description a {
  color: #2076cb;
}
.description iframe {
  width: 100% !important;
}
