.newsCard {
  background: var(--white);
  border-radius: 8px;
  margin: 0 0 24px;
  box-shadow: var(--shadow);
  display: flex;
  flex-wrap: wrap;
  width: 48%;
}
.tumbNail {
  position: relative;
  width: 100%;
  padding-top: 75%;
  background-color: var(--borderColor);
  overflow: hidden;
}
.tumbNailBlur {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.placeHolder {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tumbNail img {
  color: transparent;
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: cover;
}
.newsContent {
  padding: 16px;
  width: 100%;
}
.h2Hdeading {
  font-size: 14px;
  font-weight: 500;
}
.published {
  margin-top: 10px;
  font-size: 12px;
}
@media (max-width: 640px) {
  .newsCard {
    width: 100%;
  }
}
