.userDetailSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.userDetailSec img {
  border-radius: 50%;
}
.userIcon {
  width: 44px !important;
  height: 44px !important;
}
