.bottomBaarStrip{
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  background: #fff;
  display: flex;
  list-style: none;
  height: 54px;
  transform: translateX(-50%);
  z-index: 99;
  align-items: center;
  justify-content: center;
  transition: var(--transitions)
}
.hideBottomBar{
  bottom: -54px;
}
.bottomBaar {
  background: #fff;
  display: grid;
  list-style: none;
  grid-auto-flow: column;
  height: 54px;
  max-width: 1120px;
 width: 100%;

}

.bottomBaar li {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 54px;
  flex-direction: column;
  border-right: 1px solid var(--lightGrey);
  min-width: 70px;
}
.bottomBaar li:last-child{
  border-right: 0;
}
.bottomBaar li a {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.bottomBaar li svg {
  height: 18px;
}
.bottomBaar li span {
  font-size: 12px;
  max-width: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 5px;
  padding: 0 2px;
}
.bottomBaarSearch {
  border: 0;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
@media(max-width:1024px){
  .bottomBaarStrip{
    box-shadow: rgba(0, 0, 0, 0.2) -2px -2px 2px;
  }
}