.bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: var(--shadow);
    z-index: 9;
    background-color:var(--white);
  }
  .bottombar ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .bottombar ul li {
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    line-height: 1;
    justify-content: center;
    flex: 1;
  }
  .bottombar ul li svg {
    color: var(--grey);
  }
  